# Core
streamlit>=1.31

# Data / ML
numpy>=1.26
pandas>=2.2
scikit-learn>=1.4
joblib>=1.4
scipy>=1.10
seaborn>=0.13
matplotlib>=3.8

# Visualization / Plotting
cycler>=0.12
contourpy>=1.1
kiwisolver>=1.4
fonttools>=4.57

# Utilities
importlib_resources>=6.4
python-dateutil>=2.9
pillow>=10.4
tzdata>=2025
packaging>=25
pyparsing>=3.1
pytz>=2025
six>=1.17
threadpoolctl>=3.5
zipp>=3.20




